* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f7fa;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: Montserrat;
}

.wrapper {
  background-color: #ffffff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
  background-color: #1e2939;
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.my-photo {
  width: 370px;
}

.about-me-container {
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 110px;
  padding-top: 110px;
}

.contacts-container {
  margin-top: 57px;
  margin-left: 40px;
  margin-right: 40px;
}

.contacts-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.contacts-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #6f7681;
}

.contacts-link-type {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-right: 10px;
}

.tech-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}

.tech-skills-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 54px;
}

.tech-skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 17px;
  color: #ff6b08;
}
.tech-skills-text {
  color: #d8dadd;
}

.soft-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}

.soft-skills-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 54px;
}

.soft-skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 17px;
  color: #ff6b08;
}
.soft-skills-text {
  color: #d8dadd;
}

.profession {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: black;
  margin-bottom: 23px;
}

.my-name {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
  color: black;
}

.discription {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #595959;
  margin-top: 24px;
  width: 415px;
}

.info-container {
  margin-bottom: 65px;
}

.about-me-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.projects-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #767676;
}

.technology-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #767676;
}

.dots {
  color: #767676;
  font-weight: 100;
}

.projects-item {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 17px;
  margin-left: 15px;
}

.projects-container {
  margin-bottom: 55px;
}

.profession-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.company-name {
  color: #ff6b08;
}
.profession-period {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
.vertical-dash {
  color: black;
}
.profession-duties {
  margin-top: 14px;
  margin-bottom: 30px;
  margin-left: 15px;
}
.profession-duties-item {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.education-place {
  color: #ff6b08;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.education-specialty {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.education-info {
  margin-top: 55px;
}

.languages-info {
  margin-top: 60px;
}

.lang-list-item {
  margin-right: 10px;
  margin-bottom: 20px;
}

.lang-list {
  display: flex;
  flex-wrap: wrap;
}

.items-wrapper {
  margin: 10px;
}
